---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-title a {
    color: #384031;
}
.archive__item-title a:visited {
    color: #667558;
}

.archive__subtitle {
    color: #7e9163;
}

::selection {
    background: #b9c391;   // 선택된 영역의 배경색
    color: #fff;        // 선택된 텍스트 색상
}